.container{
	width:200px;
	background-color:purple;	 
	
}
h1{
	border-left:5px solid green;
	background-color:purple;
	border-thickness:5px;
	padding:10px;
	font-size:20px;
	color:white;
	
}
a{
	 text-decoration-color:white;
}

